body{
	font-family: 'Roboto', sans-serif;
	background: black;
	color: white;
}
/* used to align the element at center with absolute position.*/
.absolute-center{
	position: absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	margin: auto;

}
.container {
	 width: 63%;
   height: 80%;
	-webkit-box-shadow: 1px 1px 111px 36px rgba(255,255,255,.5);
	-moz-box-shadow: 1px 1px 111px 36px rgba(255,255,255,.5);
	box-shadow: 1px 1px 111px 36px rgba(255,255,255,.5);
	background: url("img/background.jpg") no-repeat;
	background-size: 100% 100%;
}
.container-image{
	width: 100%;
	height: 100%;
}

.question-container{
  	margin: 5%;
  	word-wrap: break-word;
  	word-break: break-word;	
}
li{
	  margin: 8px;
}
.options-container{
  height: 60px;
  position: absolute;
  bottom: 16px;
  width: 100%;
  padding: 0 25%;
  padding-bottom: 2%;
}
 
.option-button{
  height: 80%;
  width: 10%;
  background-color: transparent;
  font-size: 35px;
  font-weight: bold;
  color: white;
}
.total-score{
  border: 1px solid white;
  text-align: center;
  position: absolute;
  bottom: 54px;
  right: 29%;
  height: 7%;
  width: 18%;
  background-color: transparent;
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.value{
	  right: 5%;
}
.score{
  height: 80%;
  width: 12%;
  background-color: transparent;
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.tryagain-button{
  background-color: transparent;
  font-size: 25px;
  font-weight: bold;
  color: white;
  position: absolute;
  bottom: 49px;
  width: 20%;
  height: 9%;
  left: 18%;
}
.table-content-list{
	list-style: none;
}
table{
  position: absolute;
  left: 32px;
  top: 26px;
  width: 95%;
  border-collapse:collapse;
  border-spacing:0px;
}
th{
	text-align: center;
}
td{
  text-align: center;
  height: 80%;
  width: 12%;
  background-color: transparent;
  font-size: 25px;
  font-weight: bold;
  color: white;
  border-collapse: collapse;
}
td li{
  font-size: 22px;
  font-weight: normal;
  width: 80%;
  border: 1px solid white;
}
