<!DOCTYPE html>
	<title>AngularJS Quiz</title>
	<head>
		<link rel="stylesheet" href = "Angular-Quiz.css">
		<script src = "angular.js"></script>
		<script src = "Angular-quiz-module.js"></script>
		<script src = "Angular-quiz-custom-directive.js"></script>
		<script src = "Angular-Quiz-controller.js"></script>
	</head>
	<body ng-app ="angularQuizApp" ng-controller ="angularQuizCntrl">
		<div class = "absolute-center container">
			<div ng-show = "!complete">
				<div class="question-container">
					JavaScript Quiz  Question {{questionNum}} of {{questionBank.length}}
					<br><br>
					Question: {{currentQuestion}} ?
					<br><br>
					Options:
					<br>
					<ol type="A">
						<li ng-repeat = "option in currentOptions">{{option}}</li>
					</ol>
				</div> 
				<div class="options-container">
					<!--
					buttonCreator custom directive is used as the generic element which is used 
					for the complete app.
					-->
		   			<button-creator button-name ="A" button-selected = "answered()" 
		   			custom-class-name = "option-button"></button-creator>
		   			<button-creator button-name ="B" button-selected = "answered()" 
		   			custom-class-name = "option-button"></button-creator>
		   			<button-creator button-name ="C" button-selected = "answered()" 
		   			custom-class-name = "option-button"></button-creator>
		   			</button-creator>
		   			<button-creator button-name ="D" button-selected = "answered()" 
		   			custom-class-name = "option-button"></button-creator>
	   			</div>
   				</div>
			  <div class = "result" ng-show = "complete">
			  	<table cellspacing="0">
			  		<th>Question Number</th>
			  		<th>Selected Option</th>
			  		<th>Correct Answer</th>
			  		<th>Score</th>
			  		<tr>
			   			<td> 
					   		<li ng-repeat = "answer in answeredOptions track by $index" class= "table-content-list">
					   		{{$index + 1}}
					   		</li>
						</td>
						<td> 
					   		<li ng-repeat = "answer in answeredOptions track by $index" class= "table-content-list">
					   		{{answer}}
					   		</li>
						</td>
						<td> 
					   		<li ng-repeat = "answer in answerBooklet track by $index" class= "table-content-list">
					   		{{answer}}
					   		</li>
						</td>
						<td> 
					   		<li ng-repeat = "mark in answeredQuestionWiseMark track by $index" class= "table-content-list">
					   		{{mark}}
					   		</li>
						</td>
			   		</tr>
				</table>
			<div class ="total-score">Total Score</div>
			<div class = "total-score value">{{totalMark}}/{{questionBank.length}}</div>
			<button-creator button-name ="Try again" custom-class-name = "tryagain-button" 
			button-selected = "tryAgain()"></button-creator>
		</div>
	 </div>
	</body>
</html>